<h2>Your Reservations</h2>
<ul>
	<% @reservations.each do |reservation| %>
		<dl>
			<dt>Restaurant Name: <%= reservation.restaurant.name %></dt>
				<dd>Party Size: <%= reservation.party_size %></dd>
				<dd>Time: <%= reservation.time.to_formatted_s(:time) %></dd>
				<dd>Date: <%= reservation.time.to_s(:day) %>.</dd>
		</dd>
	<% end %>
</ul>