<h1>Reservations</h1>

<% @reservations.each do |reservation| %>
<p>You have a reservation for <%= reservation.party_size %> at <%= reservation.restaurant %> at <%= reservation.time.strftime %>.</p>
<% end %>
