<!DOCTYPE html>
<html>
<head>
  <title>Opentable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<h1>OpenTable</h1>
	<nav>
		<ul>
			<li>Some Stuff</li>
			<li>Some other stuff</li>
		<ul>
	</nav>
</header>

<%= yield %>

</body>
</html>
